<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/admin.css')}}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/admin.css"> -->
</head>

<body>
    <div class="container">
        <div class="contact-box">
            <div class="left">
                <div class="content">
                    <h1>NEEV</h1>
                    <br>
                    <h2>Welcome <span>Admin</span></h2>
                    <p>Manage your inventory directly from here</p>
                    <br><br>
                    <a href="#">Manage Accounts</a><br><br>
                    <a href="#">View Products</a><br><br><br>
                    <hr width="200px " style="margin-left:130px"><br><br>
                    <div class=" manage ">
                        <a href="# ">Add Product<a><br><br>
                        <a href="/Prod_del" >Delete Product</a><br><br>
                        <a href="# ">Update Product</a><br><br>
                    </div>
                    <div class="logout ">
                        <button><a href="/logout" style="color:black;"> Logout</a></button>
                    </div>
                </div>
            </div>
            <form action="/admin" method="POST">
                <div class="right ">
                    <h2>Add Product</h2>
                    <input type="text " name="p_id" class="field " id="p_id " placeholder="Product ID ">
                    <input type="text " name="p_name" class="field " id="p_name " placeholder="Product name ">
                    <input type="text " name="p_image" class="field " id="p_image " placeholder="Product image ">
                    <input type="text " name="p_quantity" class="field " id="p_quantity " placeholder="Product quantity ">
                    <!-- <input type="text " class="field " id="p_type " placeholder="Category "> -->
                    <select class="field " name="p_type" id="category " placeholder="category ">
                    <option value="Category ">Category</option>
                    <option value="1 ">Home Decor</option>
                    <option value="2 ">Clothing</option>
                    <option value="3 ">Jwellery</option>
                    <option value="4 ">Footwear</option>
                    <option value="5 ">Toys</option>
                    <option value="6 ">Accessories</option>
                    <option value="7 ">Others</option>
                </select>
                    <input type="text " name="p_amount" class="field " id="p_amt " placeholder="Product amount ">
                    <input type="text " name="email" class="field " placeholder="Your Email ">
                    <input type="text " name="contact" class="field " placeholder="Phone ">
                    <textarea placeholder="Description " name="p_desc" class="field "></textarea>
                    <button class="btn ">ADD</button>
                </div>
            </form>
        </div>
    </div>
    <!-- <script>
        let left = document.querySelector('.left');
        let content = document.querySelector('.content');


        left.addEventListener('mousemove', (event) => {
            let move = (event.clientX * 0.02);
            let move2 = (event.clientX * 0.003);

            content.style.transform = `translateX(-${move2}%)`;


        })
    </script> -->
</body>

</html>