<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
    <script src="https://kit.fontawesome.com/aa1e6c4931.js" crossorigin="anonymous"></script>
    <script defer src="{{url_for('static', filename='scripts/login.js')}}"></script>
</head>

<body>
    <form name="Login" action="/login" id="form" method="POST">
        <div id="error">Enter Your Credentials</div>
        <!-- <img src="{{img}}" alt="">  -->
        <div>
            <!-- <label for="name">name</label> -->
            <i class="fas fa-file-signature"></i>
            <input name="username" type="text" id="name" placeholder="Enter username" aria-autocomplete="off" />
        </div>
        <div>
            <!-- <label for="pass">password</label> -->
            <i class="fas fa-unlock-alt"></i>
            <input name="password" type="password" id="password" placeholder="Enter password">
        </div>
        <button type="submit" id="submitBtn">login</button>
        <p>Not a member? <a href="/signup">Signup</a></p>
    </form>
</body>

</html>