<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Shop</title>
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap">
    <link href="js.js">
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/style1.css')}}"> -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style1.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/products.css')}}">

</head>

<body>
    <!-- <section class="firstpage"> -->


    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-15 col-12 mx-auto">
                <nav class="navbar navbar-expand-lg ">
                    <!-- <a class="navbar-brand" href="#" style="font-size: 30px;"> <i class="fas fa-circle-notch"></i> N E E V <i class="fas fa-circle-notch"></i></a> -->
                    <a class="navbar-brand" href="index.html" style="font-size: 30px;"> <i class="fab fa-battle-net"></i> N E E V</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span></button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <!-- <a class="nav-link" href="#">Shop<span class="sr-only">(current)</span></a> -->
                            </li>
                            <li class="nav-item">
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="team.html" target="_blank">Team</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" target="_blank">Cart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" target="_blank">Wishlist</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Home Decor</a>
                                    <a class="dropdown-item" href="#">Clothing</a>
                                    <a class="dropdown-item" href="#">Bags</a>
                                    <a class="dropdown-item" href="#">Jwellery</a>
                                    <a class="dropdown-item" href="#">Footwear</a>
                                    <a class="dropdown-item" href="#">Toys</a>
                                    <a class="dropdown-item" href="#">Food Items</a>
                                    <!-- <a class="dropdown-item" href="#">cat8</a> -->
                                    <!-- <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div> -->
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="box-shadow: none;">Search</button>
                        </form>
                        </div>
                </nav>
                </div>
            </div>
        </div>
        <!-- </section> -->
        <div class="wrapper">

            <div class="card">
                <img src="{{url_for('static',filename='images/headphone.png')}}" alt="">
                <div class="content">
                    <div class="row">
                        <div class="details">
                            <span>Headphone</span>
                            <p>Premium headphone</p>
                        </div>
                        <div class="price">30</div>
                    </div>
                    <div class="buttons">
                        <button>Buy Now</button>
                        <button class="cart-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="{{url_for('static',filename='images/watch.png')}}" alt="">
                <div class="content">
                    <div class="row">
                        <div class="details">
                            <span>Apple Watch</span>
                            <p>Premium digital watch</p>
                        </div>
                        <div class="price">80</div>
                    </div>
                    <div class="buttons">
                        <button>Buy Now</button>
                        <button class="cart-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="{{url_for('static',filename='images/watch.png')}}" alt="">
                <div class="content">
                    <div class="row">
                        <div class="details">
                            <span>Apple Airpod</span>
                            <p>Premium black airpod</p>
                        </div>
                        <div class="price">50</div>
                    </div>
                    <div class="buttons">
                        <button>Buy Now</button>
                        <button class="cart-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="{{url_for('static',filename='images/watch.png')}}" alt="">
                <div class="content">
                    <div class="row">
                        <div class="details">
                            <span>Apple Airpod</span>
                            <p>Premium black airpod</p>
                        </div>
                        <div class="price">50</div>
                    </div>
                    <div class="buttons">
                        <button>Buy Now</button>
                        <button class="cart-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="{{url_for('static',filename='images/watch.png')}}" alt="">
                <div class="content">
                    <div class="row">
                        <div class="details">
                            <span>Apple Airpod</span>
                            <p>Premium black airpod</p>
                        </div>
                        <div class="price">50</div>
                    </div>
                    <div class="buttons">
                        <button>Buy Now</button>
                        <button class="cart-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="{{url_for('static',filename='images/watch.png')}}" alt="">
                <div class="content">
                    <div class="row">
                        <div class="details">
                            <span>Apple Airpod</span>
                            <p>Premium black airpod</p>
                        </div>
                        <div class="price">50</div>
                    </div>
                    <div class="buttons">
                        <button>Buy Now</button>
                        <button class="cart-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="{{url_for('static',filename='images/watch.png')}}" alt="">
                <div class="content">
                    <div class="row">
                        <div class="details">
                            <span>Apple Airpod</span>
                            <p>Premium black airpod</p>
                        </div>
                        <div class="price">50</div>
                    </div>
                    <div class="buttons">
                        <button>Buy Now</button>
                        <button class="cart-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="{{url_for('static',filename='images/watch.png')}}" alt="">
                <div class="content">
                    <div class="row">
                        <div class="details">
                            <span>Apple Airpod</span>
                            <p>Premium black airpod</p>
                        </div>
                        <div class="price">50</div>
                    </div>
                    <div class="buttons">
                        <button>Buy Now</button>
                        <button class="cart-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="{{url_for('static',filename='images/watch.png')}}" alt="">
                <div class="content">
                    <div class="row">
                        <div class="details">
                            <span>Apple Airpod</span>
                            <p>Premium black airpod</p>
                        </div>
                        <div class="price">50</div>
                    </div>
                    <div class="buttons">
                        <button>Buy Now</button>
                        <button class="cart-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer-section spad">
            <div class="container">
                <div class="newslatter-form">
                    <div class="row">
                        <div class="col-lg-12">
                            <form action="#">
                                <input type="text" placeholder="Your email address">
                                <button type="submit">Subscribe to our newsletter</button>
                            </form>
                        </div>
                    </div>
                </div>
                <form action="#" class="message">
                    <h1>Get in touch</h1>
                    <input type="text" class="name" placeholder="Enter you name">
                    <input type="email" class="email" placeholder="Enter you mail"> <br>
                    <input type="text" class="mssg" placeholder="Enter your message">
                </form>
                <button class="submitbtn">Submit</button>

                <div class="social-links-warp">
                    <div class="container">
                        <div class="social-links">
                            <a href="" class="instagram"><span>instagram</span></a>
                            <a href="" class="pinterest"><span>pinterest</span></a>
                            <a href="" class="facebook"><span>facebook</span></a>
                            <a href="" class="twitter"><span>twitter</span></a>
                            <a href="" class="youtube"><span>youtube</span></a>
                            <a href="" class="tumblr"><span>tumblr</span></a>
                        </div>
                    </div>
                </div>
        </footer>



</body>

</html>