<!DOCTYPE html>
<html>

<head>
    <title>SignUp</title>
</head>

<body>
    <form name="SignUp" action="/signup" method="POST">
        <p>Name</p>
        <input type="text" name="name" placeholder=" Name" id="Name">
        <br>
        <p>Email</p>
        <input type="text" name="email_id" placeholder="Email" id="Email">
        <br>
        <p>Contact</p>
        <input type="text" name="contact" placeholder="Contact" id="Contact">
        <p>Password</p>
        <input type="password" name="password" placeholder="enter password" id="Password">
        <br>
        <p>Confirm Password</p>
        <input type="password" name="confirmpassword" placeholder="Confirm Password" id="ConfirmPass">
        <br>
        <input type="submit" name="" value="Login">
    </form>
</body>

</html>